@media (max-width: 1180px){
    .price{
       padding: 60px 0; 
    }
    
    .price__inner{
        flex-direction: column-reverse;        
    }
    .price__title{
        text-align: center;
    }
    .price__title{
        margin-bottom: 40px;
        padding-bottom: 0;
    }
    .price__title:after{
        display: none;
    }
    .price__info{
        width: 100%;
    }
    .price__info-text{
        margin-bottom: 30px;
    }
    .price__item{
        margin-bottom: 40px;
    }
}
@media (max-width: 1150px){
    
    .plan__img{
        margin-right: -30px;
    }
}
@media (max-width: 1100px){
    .plan__img{
        width: 300px;
        margin-right: 0;
    }
    .plan__info{
       padding: 0px 20px 40px 0;
    }
    .promo{
        margin-top: 30px;
    }
    
}
@media (max-width: 1100px){
    .problem__inner{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .problem__img{
        width: 100%;
        height: 300px;
        margin-left: 0;
        background-position:  right;
    }
    .problem__block{
        padding: 50px 0 50px 0;
        max-width: 100%;
    }
    .work{
        padding: 20px 0;
    }
}
@media (max-width: 1020px){
    .promo__inner{                
        flex-direction: column;
        flex-wrap: wrap;
    }
    .promo__img-inner{        
        height: auto;
    }
    .promo__img{
        display: block;
         margin: 0 auto;
        height: 350px;
        width: 450px;
    }
    .promo__box{
        max-width: 100%;
        padding: 15px 10px 10px;
        text-align: center;
    }
    .promo__btn{
        display: block;
        margin: 0 auto;
        margin-top: 30px;       
        margin-bottom: 20px;
    }
    .promo__title{
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 30px;
    }
    .promo__title::after{
        display: none;
    }
    .next__inner-img{
        display: none;
    }
}

@media (max-width: 900px){
   .intro__img{
    display: none;
} 
.intro__block{
    margin: 0 auto;
}    

.intro__title{
    text-align: center;
    margin-bottom: 35px;
}
.intro__block-info{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
        display: block;
        text-align: center;             
    }
    ul{
        margin-left: 0;
        margin-bottom: 40px;                       
    }
}
.intro__btn{
    display: block;
    margin: 0 auto;
    // text-align: center;
}

}


@media (max-width: 800px){
 
    .work__item-info{
        p{
            margin-left: 0;
            padding-right: 10px;
        }
    }
   .plan__inner{
       flex-direction: column;
       align-items: center;
       margin-bottom: 30px;
   }
   
    .promo__info{
        p{
         text-align: center;   
        }
        
    }
   
    .next__box{
        padding: 10px;
        max-width: 100%;
    }
    .next__plan-title{
        text-align: center;
        span{
            padding-bottom: 0;
        margin-bottom: 30px;
        }        
        span:after{
         display: none;
         
        }
    } 
    
}

@media (max-width: 640px){
   
   .header__inner{
       flex-direction: column;
       align-items: center;
       border-bottom: none;
       

   }
   .header__info{       
       margin: 0 auto;
       margin-top: 10px;
       padding: 10px 0;
       border-top: 1px dotted #000;
    //    border-bottom: 1px dotted #000;
   }
}

@media (max-width: 560px){
    .work__item{
        flex-direction: column;        
    }
    .work__item-wrapper{
        min-height: auto;
        height: 120px;
    }
    .work__item-info{
        padding: 0 10px;
        
    }
    .work__item-text{
        p{
            padding-right: 0;
        }
    }
    .price__item,
    .price__item-cost{
        transform: skewX(0deg);
    }
}

@media (max-width: 450px){
    .intro{
        padding: 25px 0 50px;
    }
    .intro__title,
    .problem__title,
    .work__title,
    .plan__title,
    .example__title,
    .promo__title,
    .next__plan-title,
    .price__title{
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 25px;
        span{
            font-size: 28px;
        line-height: 45px;
        }
    }
    
    .intro__block-info{
        span{
           font-size: 20px;
           line-height: 24px; 
        }
        li{
            font-size: 16px;
        }
    }
    .problem__title {
        text-align: center;
    }
    .problem__text,
    .work__item-info,
    .promo__info,
    .next__box-text{
        text-align: center;
        p{
           font-size: 16px; 
           
        }        
    }
    .problem__block{
        padding-top: 20px;
    }
    .work__title,
    .plan__title,
    .example__title {
        text-align: center;
    }
    .work__item-info{
        span{
            font-size: 20px;
        }
    }
    .plan__title{
        margin-bottom: 30px;
        padding-bottom: 0;
    }
    .plan__title::after{
          display: none;
    }
    .plan__info{
        li, p{
           font-size: 16px; 
           text-align: center;
        }        
    }
    .example__subtitle,
    .price__info-subtitle{
        font-size: 20px;
        text-align: center;
    }
    .example__text{
        font-size: 16px;
        text-align: center;
    }
    .example__img{
        margin-bottom: 30px;
    }
    .next__plan-title{
        margin-bottom: 0;
    }
    .next__plan-title{
          span{
              margin-bottom: 20px;
          }
    } 
    .price__item-package{
        font-size: 28px;
    }
    .price__info-list,
    .price__info-text{
        font-size: 16px;
    }
    .footer__inner{
        p{
            text-align: center;
        }
        span{
            display: block;           
            text-align: center;
        }
    }

}
@media (max-width: 370px){
      .header__tel{
          span{
              font-size: 18px;
          }
      }

}
